<template>
  <div class="sidenav" id="app">
    <body style="background-color:#2F2D2E" id="col">
  <hr class="solid">
  <section class="bar">
  <div class="sidebar">
  <a class="nav-header" id="logo"><img src="../../assets/images/logo.png"></a> 
  
  
  
  
  <router-link to="/Dashboard">
  <a id="choice"  href="index.html">Dashboard</a>
  </router-link>

  <router-link to="/Patron">
  <a id="choice" href="PatronManagement.html">Patron Management</a>
  </router-link>

  <router-link to="/Book">
  <a id="choice" href="BookManagement.html">Book Management</a>
  </router-link>

  <router-link to="/Settings">
  <a id="choice" href="Settings.html">Settings</a>
  </router-link>
</div>
</section>

<button type="button" class="btn btn-danger">Log-out</button>
       </body> 
   </div>
  
  
</template>
<script>
export default {
  
}
</script>
<style></style>